BACKUP DATABASE [{{ database_name }}]
    TO DISK = '{{ backup_file }}'
    WITH FORMAT,
            MEDIANAME = '{{ medianame | default("MSSQLBackups") }}',
            NAME = 'Full Backup of {{ database_name }}'
            {% if compression == true -%}
            ,COMPRESSION
            {%- endif %}
            {% if certificate_name is defined -%}
            ,ENCRYPTION (
                ALGORITHM = AES_256,
                SERVER CERTIFICATE = '{{ certificate_name }}'
            )
            {%- endif -%}
;


